/* styles.css
   Proyecto base — Cozy Tea
   Licencia: MIT
*/

/* Reset/normalización sencilla */

* { box-sizing: border-box; margin: 0; padding: 0; }

html,body { height: 100%; }

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  color:seashell;
  background: black;
  opacity: 0.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin: 50px auto;
}

h2 { font-size: 2rem; margin: .5rem; }
h4 { font-size: 1.5rem; margin: .5rem; }

/* Contenedor */
.container{ 
  width: 1200px;
  margin: 0 auto;
}

/* Header */
.site-header {
  width: 100%;
  z-index: 99;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: black;
  border-bottom: 1px solid seashell;
  padding: 1rem 0;
  height: 69px;
}

.brand{ 
  margin-left: 10px;
  height: 50px;
 }

.nav {
  display: inline-block;
  margin-right: 10px;
}

.nav a {
  margin-left: 1rem;
  text-decoration: underline;
  color: seashell;
  font-weight: 500;
  font-size: 1rem;
}

.nav a:hover {
  color: darkgoldenrod;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: 700px;
  background-image: url(./img/img-mission-background.jpg);
  padding: 0;
  margin: 0;
  text-align: center;
}

.hero div {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: black;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1000px;
  margin: auto;
}

.photocard {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.photocard img {
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

.photocard p{
  margin-top: 10px;
  font-weight: bold;
}

#locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 500px;
  background-image: url(./img/img-locations-background.jpg);
}

#locations h2 {
  margin-bottom: 15px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.location-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  height: 250px;
  background-color: black;
  opacity: 1;
}

/* Footer */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1200px;
    height: 200px;
}

.copyright{
  padding: 0 0 30px 20px;
  text-align: left;
}


@media (max-width: 640px) {
  .nav { float: none; margin-top: .5rem; text-align: center; }
  .nav a { margin: 0 .5rem; display: inline-block; }
}


